[Unit]
Description=Detects display errors

[Service]
ExecStart=$PROJECT_PATH/scripts/run/detect_display_errors.sh
PIDFile=/var/run/detect_display_errors.pid
ExecStop=/bin/kill -15 \$MAINPID
TimeoutSec=5
Restart=always
User=root

[Install]
WantedBy=multi-user.target