[Unit]
Description=Monitor and restart screen.py
After=init_display.service

[Service]
Type=simple
ExecStart=$PROJECT_PATH/venv/bin/python3 $PROJECT_PATH/src/screen/screen.py
User=$USERNAME
Group=$GROUP_NAME
WorkingDirectory=$PROJECT_PATH
PIDFile=/var/run/screen.pid
ExecStop=/bin/kill -15 \$MAINPID
TimeoutSec=5
Restart=always

[Install]
WantedBy=multi-user.target