[Unit]
Description=Monitor and restart screen.py

[Service]
Type=simple
ExecStart=/opt/FiberPTS/venv/bin/python3 /opt/src/screen/screen.py
User=root
Group=root
WorkingDirectory=/opt/FiberPTS
PIDFile=/var/run/screen.pid
ExecStop=/bin/kill -15 \$MAINPID
TimeoutSec=5
Restart=always

[Install]
WantedBy=multi-user.target