[Unit]
Description=Monitor and restart touch_sensor.py

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/src/touch_sensor/touch_sensor.py
User=root
Group=root
WorkingDirectory=/opt/FiberPTS
Environment="PATH=/usr/local/bin:/usr/bin"
PIDFile=/var/run/touch_sensor.pid
ExecStop=/bin/kill -15 \$MAINPID
TimeoutSec=5
Restart=always

[Install]
WantedBy=multi-user.target