[Unit]
Description=Initialize the device

[Service]
ExecStart=bash "${PROJECT_PATH}"/scripts/run/init_display.sh

[Install]
WantedBy=multi-user.target