[Unit]
Description=Initialize the display

[Service]
ExecStart=/bin/bash "${PROJECT_PATH}/scripts/run/init_display.sh"

[Install]
WantedBy=multi-user.target