[Unit]
Description=Initialize the device

[Service]
ExecStart=${PROJECT_PATH}/scripts/run/init_display.sh
User=${USERNAME}
Group=${GROUP_NAME}

[Install]
WantedBy=multi-user.target