[Unit]
Description=Monitor and restart touch_sensor.py

[Service]
Type=simple
ExecStart="${PROJECT_PATH}/venv/bin/python3" "${PROJECT_PATH}/src/touch_sensor/touch_sensor.py"
WorkingDirectory="${PROJECT_PATH}"
PIDFile=/var/run/touch_sensor.pid
ExecStop=/bin/kill -15 \${MAINPID}
TimeoutSec=5
Restart=always

[Install]
WantedBy=multi-user.target